*{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 20px;}
img{border-radius: 20px;
width: 500px;
height: 250px;}
h1{font-size: 25px;
color: blue;}
h2{color: cadetblue;}
p{color: slateblue;}
.colorverde{color: green;}
