<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Receta de Turrón de avena</h1>    
<p>El turrón de avena es fácil de hacer y sin necesidad de horno. Su combinación de texturas lo convierte en un favorito para grandes y chicos. Es importante llevarlo a la heladera al menos una hora antes de servir.</p>
<hr>
<h2>Lista de ingredientes</h2>
<ul>
    <li>3 paquetes de galletitas de agua</li>
    <li>200 g manteca</li>
    <li>10 cucharadas de leche</li>
    <li>100 g chocolate en barra</li>
    <li>40 g de cacao dulce</li>
    <li>200 g de azucar</li>
    <li>250 g de avena de coccion rápida</li>
    <li>3 o 4 cucharadas de dulce de leche tradicional</li>
</ul>
<h2>Preparación</h2>
<ol>
    <li>En una cacerola a fuego bajo, derretir la manteca junto con la leche y el chocolate en barra.</li>
    <li>Añadir el dulce de leche y mezclar, luego el cacao, el azúcar y la avena. Dejar cocinar unos 3 o 4 minutos, revolviendo constantemente para evitar que se pegue en el fondo.</li>
    <li>En una fuente o plato, colocar capas de galletitas y capas de preparación alternadas.</li>
    <li>Terminar el turrón de avena con una capa de preparación y llevar a la heladera por lo menos una hora.</li>
    <li>Si se desea, decorar con coco rallado, nueces o almendras picadas.</li>
</ol>
<br>
<a href="https://www.clarin.com/recetas/pasteleria/receta-de-turron-de-avena-tipo-quaker_7_JwLlsGLib.html">
    Leer la receta en Clarin Recetas
</a>
<br>
<a href="ñoquis_papas.html">Leer receta de Ñoquis de Papa</a>
<br>
<a href="../../index.html">Ir a inicio</a>
</body>
</html>