<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>​Receta de ñoquis de papa</h1>
    <p>El paso a paso del plato que vas a querer preparar todos los 29 de cada mes</p>
    <hr>
    <h2>Lista de ingredientes</h2>
    <Ul class="colorverde">
        <li>1 kilo de papas </li>
        <li>2 cucharadas de sal gruesa</li>
        <li>1 huevo</li>
        <li>1 yema</li>
        <li>Cantidad a gusto de sal, pimienta y nuez moscada</li>
        <li>350 g de harina y extra</li>
        <li>Un chirrito de aceite</li>
    </Ul>
    <h2>Preparación</h2>
    <ol class="colorverde">
        <li>Llenar una cacerola con agua fría y agregar las papas y la mitad de la sal gruesa. Hervir 20 minutos, o hasta que las papas estén tiernas. Escurrirlas y dejarlas enfriar un poquito (no del todo).</li>
        <li>Hacer un puré.</li>
        <li>En un bowl, formar una corona con el puré. Agregar en el centro los huevos, sal, pimienta, nuez moscada y el polvo leudante. Incorporar la harina de a poco, y una con las manos, ayudándose con una espátula, de afuera hacia adentro, hasta formar una masa homogénea. 
        <li>Hacer rollitos con la masa de un centímetro y medio de grosor. Cortarlos en trocitos de 2 centímetros y darles la forma clásica con el marcador de ñoquis, o con el tenedor.</li>
        </li>
        <li>Cocinar los ñoquis en agua hirviendo con un chorrito de aceite y la sal gruesa restante. Estarán listos cuando suban a la superficie. Retirarlos con una espumadera. Servir solos o con la salsa que se desee.</li>
    </ol>
   
<iframe width="853" height="480" src="https://www.youtube.com/embed/RO07IuJ7wJI" title="Cómo HACER los mejores ÑOQUIS de PAPA para cada 29 de MES: receta rápida, fácil y rica" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<a href="https://www.clarin.com/recetas/platos-principales/noquis-de-papa_7_PgE_Ch_vS.html?srsltid=AfmBOoo20R1cLkbTUVrVEc0BzCaZF7oocUz1_nZc7quTcZaMYCfBA0Ad">
    Lee la receta en Clarin Recetas
</a>
<br>
<a href="Turron_avena.html">Leer receta de Turron de avena</a>
<br>
<a href="../../index.html">Ir a inicio</a>

</body>
</html>